body{
    background: lightblue;
    margin: auto 0;
    box-sizing: border-box;
    font-family: cursive;
}
header{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: cadetblue;
}
.nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.nav a{
    color: aquamarine;
    text-decoration: none;
    font-size: 3vh;
}
footer{
    background-color: cadetblue;
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0;
}